.custom-in-app-toast {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 20px 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 95%;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
  z-index: 10000;
  animation: slideUpFadeIn 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 0.2s ease;
}


.toast-header {
  font-size: 17px;
  font-weight: bold;
  color: black;
 
  margin-bottom: 4px;
}
.toast-body {
  font-size: 14px;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}
@keyframes slideUpFadeIn {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
